/* ------------------------PÁGINA DOMICILIOS-------------------*/
/* -----Imagen inicial ------*/

.burguer-content {
  &__img {
    background-image: url("https://tofuu.getjusto.com/orioneat-prod-resized/2SYnoZD5AKCFk9uke-x-2000.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    width: 100%;
  }
}

/* -----Titulo ó Encabezado ------*/

.burguer-domicilios {
  position: sticky;
  top: 0;
  left:0;
  right: 0;
  z-index: 100;
  background-color:white;
  padding: 10px 0 20px 0;
  display: flex;
  width: 100%;
  height: 130px;

  &__titulo {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    span {
      font-family: "Yeseva One", cursive;
      font-size: 2rem;
    }
    img {
      margin-left: 10px;
      width: 30px;
      height: 30px;
    }
  }
  &__carrito {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 10px;
  }
}
.carrito-compras {
  align-self: end;
  margin-bottom: 5px;
  &__button {
    background-color: inherit;
    border: none;
    transition: transform 0.2s;
    background-color: #ffce12;
    border-radius: 50%;
    padding: 5px;
    img {
      width: 30px;
      height: 30px;
      text-align: center;
    }
    &:hover {
      transform: translateY(-0.2rem);
    }
  }
}
/* ----- Estilos select Boostrap ------*/

.form-select {
  align-self: end;
  width: 30%;
  font-family: "Montserrat", sans-serif;
  @media (max-width: 1250px) {
    width: 50%;
  }
  @media (max-width: 900px) {
    width: 60%;
  }
}

.form-select:focus {
  border-color: #ffce12;
  box-shadow: none;
}

/* -----cards de los productos ------*/

.domicilios-productos {
  margin: 10px auto 50px auto;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 40px 10px;
}

.card {
  height: 200px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: -4px 7px 17px -10px #000;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  @media (max-width: 430px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 190px;
    width: auto;
    margin: 0 auto;
    @media (max-width: 430px) {
      display: none;
    }
  }
  &__info {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 430px) {
      width: 95%;
    }
  }
}
.card-titulo {
  font-family: "Yeseva One", cursive;
  font-weight: bold;
}
.card-descripcion {
  width: 100%;
  height: 75px;
  font-size: 12px;
  overflow: hidden;
}

.card-precio {
  font-family: "Yeseva One", cursive;
  font-weight: bold;
  font-size: 16px;
}

.card-btn {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: #fff;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 2px;
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-0.1rem);
  }
}

/* --------Modal Producto Seleccionado--------*/

.modal-producto {
  z-index: 300;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.contenedor-modal {
  position: relative;
  background-color: white;
  border-radius: 10px;
  max-width: 50%;
  padding: 10px;
  margin-top: -100%;
  transition: all 0.5s;
  @media (max-width: 1200px) {
    max-width: 80%;
  }
  @media (max-width: 800px) {
    max-width: 95%;
  }
}

.modal-active .contenedor-modal {
  margin-top: 0;
}

.boton-cerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  outline: none;
  color: #fff;
  border: none;
  background-color: #0005;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
    background-color: #0006;
  }
}

/* --------Modal producto header--------*/

.modal-header {
  display: flex;
  &__img {
    width: auto;
    height: 100px;
    @media (max-width: 430px) {
      display: none;
    }
  }
  &__descripcion {
    margin-left: 10px;
    min-width: 400px;
    min-height: 400px h3 {
      padding-top: 10px;
      font-weight: bold;
      font-family: "Yeseva One", cursive;
    }
  }
}
/* --------Modal producto opciones--------*/

.modal-opciones {
  padding-left: 5px;
  padding-right: 10px;
  overflow-y: auto;
  height: 230px;
  &__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h6 {
      color: #777;
    }
  }
  &__opciones {
    display: flex;
    flex-direction: column;
    label {
      margin: 5px 0;
    }
  }
}
/* --------Modal producto footer--------*/

.modal-footer {
  height: 55px;
  box-shadow: 0px -8px 5px -7px rgba(0, 0, 0, 0.1);
  &__validacion {
    width: 100%;
    color: red;
    font-weight: bold;
    font-size: 12px;
    text-align: start;
    margin-bottom: 5px;
    padding-left: 5px;
  }
  &__opciones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 45px;
      outline: none;
      margin-right: 10px;
    }
    button {
      font-family: "Montserrat", sans-serif;
      background-color: black;
      color: #fff;
      font-weight: bold;
      width: 30%;
      border: none;
      border-radius: 10px;
      padding: 2px;
      transition: transform 0.2s;
      &:hover {
        transform: translateY(-0.1rem);
      }
    }
    span {
      font-size: 20px;
      font-weight: bold;
      font-family: "Yeseva One", cursive;
      margin-left: 20px;
    }
  }
}

/* --------Sidebar carrito de compras--------*/

.sidebar-carrito {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}

.contenedor-sidebar {
  position: relative;
  width: 100%;
  max-width: 350px;
  min-width:300px;
  background-color: #fff;
  height: 100vh;
  transition: all 0.5s;
  transform: translateX(-100%);
}

.active .contenedor-sidebar {
  transform: translateX(0%);
}

.body-sidebar {
  padding: 30px 10px;
}

/* --------Sidebar titulo--------*/

.sidebar-titulo {
  padding-top: 10px;
  font-weight: bold;
  font-family: "Yeseva One", cursive;
  height: 100px;
}

/* --------Sidebar Productos--------*/

.sidebar-productos {
  width: 100%;
  height: calc(100vh - 220px);
  overflow-y: auto;
  &__productos {
    width: 95%;
    display: flex;
    justify-content:space-between;
    &--left{
      font-weight: bold;
    }
    &--right{
      display: flex;
      flex-direction:column;
      span{
        font-weight: bold;
        font-family: "Yeseva One", cursive;
      }
      button{
        text-align: right;
        background-color:inherit;
        border: none;
        font-size:12px;
      }
    }
  }
  &__sin-productos{
    color:gray;
    margin-top: 20px;
  }
}

.eliminar{
  color: #ff0000;
}

.sidebar-acompanante{
  font-size: 14px;
  color: #808080;
  &__option{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

}

/* --------Sidebar Footer--------*/

.sidebar-footer{
  width: 95%;
  height:130px;
  &__total {
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0;
  }
  &__btn{
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #fff;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 2px;
    transition: transform 0.2s;
    &:hover {
        transform: translateY(-0.1rem);
    }
    a:link, a:visited, a:active {
      text-decoration:none;
      &:hover{
        color: #fff;
        font-size: 1rem;
      }
    }
  }

}
/* --------media querys DOMICILIOS--------*/

@media screen and (max-width: 1250px) {
  /* -----contenido ------*/

  .domicilios-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 820px) {
  .domicilios-productos {
    grid-template-columns: 1fr;
  }
}

/* --------estilos scrollbar --------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
